<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm mb-4">
    <div class="container">
        <NavLink class="navbar-brand fw-bold" href="/">CommunicationCoverageSupport</NavLink>

        <div class="collapse navbar-collapse" id="navbarMain">
            <!-- left‐aligned nav items -->
            <ul class="navbar-nav me-auto mb-2 ">
                
                <li class="nav-item">
                    <NavLink class="btn btn-outline-primary me-2" ActiveClass="" href="/acc">Acc</NavLink>
                </li>
            </ul>

            <!-- right‐aligned buttons, kept on one line with d-flex -->
            <div class="d-flex">
                <NavLink class="btn btn-outline-primary me-2" ActiveClass="" href="/login">Login</NavLink>
                <NavLink class="btn btn-primary text-white" href="/register">Sign Up</NavLink>
            </div>
        </div>
    </div>
</nav>
