@page
@model CommunicationCoverageSupport.Presentation.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2 class="mb-4">Login</h2>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>
}

<form method="post">
    <div class="mb-3">
        <label asp-for="LoginRequest.Username" class="form-label"></label>
        <input asp-for="LoginRequest.Username" class="form-control" />
        <span asp-validation-for="LoginRequest.Username" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="LoginRequest.Password" class="form-label"></label>
        <input asp-for="LoginRequest.Password" type="password" class="form-control" />
        <span asp-validation-for="LoginRequest.Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
